:root {
    --Dark-cyan: hsl(158, 36%, 37%) ;
    --Dark-cyan-hover: hsl(158, 36%, 20%); ;
    --Cream: hsl(30, 38%, 92%) ;

    --Very-dark-blue: hsl(212, 21%, 14%) ;
    --Dark-grayish-blue: hsl(228, 12%, 48%) ;
    --White: hsl(0, 0%, 100%) ;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--Cream);
    display: flex;
    margin: 1rem;
    min-height: 100vb;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Fraunces', serif;
    overflow: hidden;
}
* a {
    text-decoration: none;
}
.card {
    background-color: white;
    border-radius: 8px;
    width: 600px;
    overflow: hidden;
}
@media (min-width: 600px) {
    .container {   
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .card {
        height: 450px;
        margin-bottom: 34px;
    }
}
.container .image img {
    max-width: 100%;
    height: 100%;
}
.container .image {
    position: relative;
}
.container .image::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(0deg 0% 0% / 10%);
}
@media (max-width: 600px) {
    .container .image {
        display: none;
    }
}
.container .image-m img {
    width: 100%;
    height: 100%;
}
@media (min-width: 600px) {
    .container .image-m {
        display: none;
    }
}
.container section {
    padding: 28px 33px  24px 31px;
}
@media (min-width: 600px) {

}
.container section span.title { 
    letter-spacing: 4.9px;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--Dark-grayish-blue);
    font-family: 'Montserrat', sans-serif;
}
.container section h1 { 
    font-size: 33px;
    line-height: 0.99;
    margin-top: 19px;
    margin-bottom: 23px;
    letter-spacing: -0.9px;
 }
@media (max-width: 376px) {
    .container section h1 { 
        font-size: 30px;
     }
}
.container section  p { 
    font-size: 13.5px;
    color: var(--Dark-grayish-blue);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.71;
    letter-spacing: 0.2px;
}
.container section .pric {
    display: flex;
    align-items: center;
    margin: 24px 0 27px;
}
.container section .pric span:first-child { 
    font-size: 31.5px;
    color: var(--Dark-cyan);
 }
.container section .pric span:last-child {
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
    font-size: 13px;
    margin-left: 19px;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.8;
    font-weight: 500;
}
.container section a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Dark-cyan);
    padding: 12.5px;
    border-radius: 10px;
    cursor: pointer;
}
.container section a:hover {
    background-color: var(--Dark-cyan-hover);
}
.container section a img{
    margin-right: 10px;
}   
.container section a p {
    color: var(--White);
}
